wa-plugins/payment/qiwi/vendors/qiwi/IShopClientWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IShopClientWSService" targetNamespace="http://client.ishop.mw.ru/" xmlns:tns="http://client.ishop.mw.ru/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://client.ishop.mw.ru/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://client.ishop.mw.ru/">
    <xs:element name="updateBill" type="tns:updateBill"/>
    <xs:element name="updateBillResponse" type="tns:updateBillResponse"/>
    <xs:complexType name="updateBill">
        <xs:sequence>
            <xs:element minOccurs="0" name="login" type="xs:string"/>
            <xs:element minOccurs="0" name="password" type="xs:string"/>
            <xs:element minOccurs="0" name="txn" type="xs:string"/>
            <xs:element name="status" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="updateBillResponse">
        <xs:sequence>
            <xs:element name="updateBillResult" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="updateBillResponse">
    <wsdl:part name="parameters" element="tns:updateBillResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateBill">
    <wsdl:part name="parameters" element="tns:updateBill">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IShopClientWS">
    <wsdl:operation name="updateBill">
      <wsdl:input name="updateBill" message="tns:updateBill">
    </wsdl:input>
      <wsdl:output name="updateBillResponse" message="tns:updateBillResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IShopClientWSServiceSoapBinding" type="tns:IShopClientWS">
    <soap12:binding style="document" transport="http://www.w3.org/2003/05/soap/bindings/HTTP/"/>
    <wsdl:operation name="updateBill">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="updateBill">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateBillResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IShopClientWSService">
    <wsdl:port name="IShopClientWSPort" binding="tns:IShopClientWSServiceSoapBinding">
      <soap12:address location="http://localhost:9090/IShopClientWSPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
