wa-plugins/payment/qiwi/vendors/qiwi/IShopServerWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IShopServerWSService" targetNamespace="http://server.ishop.mw.ru/" xmlns:tns="http://server.ishop.mw.ru/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://server.ishop.mw.ru/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://server.ishop.mw.ru/">
    <xs:element name="cancelBill" type="tns:cancelBill"/>
    <xs:element name="cancelBillResponse" type="tns:cancelBillResponse"/>
    <xs:element name="checkBill" type="tns:checkBill"/>
    <xs:element name="checkBillResponse" type="tns:checkBillResponse"/>
    <xs:element name="createBill" type="tns:createBill"/>
    <xs:element name="createBillResponse" type="tns:createBillResponse"/>
    <xs:element name="getBillList" type="tns:getBillList"/>
    <xs:element name="getBillListResponse" type="tns:getBillListResponse"/>
    <xs:complexType name="checkBill">
        <xs:sequence>
            <xs:element minOccurs="0" name="login" type="xs:string"/>
            <xs:element minOccurs="0" name="password" type="xs:string"/>
            <xs:element minOccurs="0" name="txn" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="checkBillResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="user" type="xs:string"/>
            <xs:element minOccurs="0" name="amount" type="xs:string"/>
            <xs:element minOccurs="0" name="date" type="xs:string"/>
            <xs:element minOccurs="0" name="lifetime" type="xs:string"/>
            <xs:element minOccurs="0" name="status" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getBillList">
        <xs:sequence>
            <xs:element minOccurs="0" name="login" type="xs:string"/>
            <xs:element minOccurs="0" name="password" type="xs:string"/>
            <xs:element minOccurs="0" name="dateFrom" type="xs:string"/>
            <xs:element minOccurs="0" name="dateTo" type="xs:string"/>
            <xs:element name="status" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getBillListResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="txns" type="xs:string"/>
            <xs:element minOccurs="0" name="count" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="cancelBill">
        <xs:sequence>
            <xs:element minOccurs="0" name="login" type="xs:string"/>
            <xs:element minOccurs="0" name="password" type="xs:string"/>
            <xs:element minOccurs="0" name="txn" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="cancelBillResponse">
        <xs:sequence>
            <xs:element name="cancelBillResult" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createBill">
        <xs:sequence>
            <xs:element minOccurs="0" name="login" type="xs:string"/>
            <xs:element minOccurs="0" name="password" type="xs:string"/>
            <xs:element minOccurs="0" name="user" type="xs:string"/>
            <xs:element minOccurs="0" name="amount" type="xs:string"/>
            <xs:element minOccurs="0" name="comment" type="xs:string"/>
            <xs:element minOccurs="0" name="txn" type="xs:string"/>
            <xs:element minOccurs="0" name="lifetime" type="xs:string"/>
            <xs:element name="alarm" type="xs:int"/>
            <xs:element name="create" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createBillResponse">
        <xs:sequence>
            <xs:element name="createBillResult" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="cancelBillResponse">
    <wsdl:part name="parameters" element="tns:cancelBillResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkBillResponse">
    <wsdl:part name="parameters" element="tns:checkBillResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBillList">
    <wsdl:part name="parameters" element="tns:getBillList">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelBill">
    <wsdl:part name="parameters" element="tns:cancelBill">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBillListResponse">
    <wsdl:part name="parameters" element="tns:getBillListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createBillResponse">
    <wsdl:part name="parameters" element="tns:createBillResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createBill">
    <wsdl:part name="parameters" element="tns:createBill">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkBill">
    <wsdl:part name="parameters" element="tns:checkBill">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IShopServerWS">
    <wsdl:operation name="checkBill">
      <wsdl:input name="checkBill" message="tns:checkBill">
    </wsdl:input>
      <wsdl:output name="checkBillResponse" message="tns:checkBillResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBillList">
      <wsdl:input name="getBillList" message="tns:getBillList">
    </wsdl:input>
      <wsdl:output name="getBillListResponse" message="tns:getBillListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelBill">
      <wsdl:input name="cancelBill" message="tns:cancelBill">
    </wsdl:input>
      <wsdl:output name="cancelBillResponse" message="tns:cancelBillResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createBill">
      <wsdl:input name="createBill" message="tns:createBill">
    </wsdl:input>
      <wsdl:output name="createBillResponse" message="tns:createBillResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IShopServerWSServiceSoapBinding" type="tns:IShopServerWS">
    <soap12:binding style="document" transport="http://www.w3.org/2003/05/soap/bindings/HTTP/"/>
    <wsdl:operation name="checkBill">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="checkBill">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="checkBillResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBillList">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="getBillList">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBillListResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelBill">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="cancelBill">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelBillResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createBill">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="createBill">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createBillResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IShopServerWSService">
    <wsdl:port name="IShopServerWSPort" binding="tns:IShopServerWSServiceSoapBinding">
      <soap12:address location="https://ishop.qiwi.ru/services/ishop"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
